<!doctype html>
<html>

<head>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Name }}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/tailwind.css')}}">
    <link rel="icon" href="{{url_for('static',filename='ico/favicon.ico')}}" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='ico/favicon.ico')}}">
    {% block head %}{% endblock %}
  </head>
</head>

{% block header %}{% endblock %}

{% block body %}{% endblock %}

{% block footer %}{% endblock %}

</html>
{% block script %}{% endblock %}