<!doctype html>
<html>

<head>
  {% block head %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Name }}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/tailwind.css')}}">
    <link rel="icon" href="{{url_for('static',filename='ico/favicon.ico')}}" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='ico/favicon.ico')}}">
  </head>
  {% endblock %}
</head>
{% block header %}
<header>
  <nav class="bg-white py-4 mt-0 w-full">
    <div class="mx-10">
      <div class="md:pt-0 md:content-center md:justify-between md:flex">
        <div class="flex md:w-full justify-center md:justify-start text-gray-900">
          <a class="text-gray-900 no-underline hover:text-gray-900 hover:no-underline" href="/">
            <div class="flex items-center">
              <img src="{{url_for('static',filename='img/logo.svg')}}" width="80" />
              <span class="text-2xl pl-2 font-bold hidden">
                <span class="">Mountain View Community Hospital
                </span>
            </div>
          </a>
        </div>
        <ul class="list-reset flex justify-between flex-1 md:flex-none items-end">
          <li class="mx-1">
            <button class="bg-white hover:bg-gray-100 focus:outline-none py-4 px-6 rounded-full duration-500" type="button"
              onclick="window.location.href = '/'">
              Home
            </button>
          </li>
          {% if isLoggedIn %}
          <li class="text-gray-900 ml-4 py-2 border-b mr-8 text-center">
            <p class="text-xs">Balance: </p>
            <p class="font-bold">
              Here Login
            </p>
          </li>
          {% endif %}
          <li class="">
            {% if isLoggedIn %}
            <button class="bg-red-500 hover:bg-red-600 focus:outline-none py-4 px-6 rounded-full duration-500" type="button"
              onclick="window.location.href = '/logout'">
              Logout
            </button>
            {% else %}
            <button class="mx-1 bg-green_light hover:bg-green_dark focus:outline-none py-4 px-6 rounded-full duration-500" type="button"
              onclick="window.location.href = '/register'">
              Register
            </button>
            <button class="mx-1 bg-blue_light hover:bg-blue_dark focus:outline-none py-4 px-6 rounded-full duration-500" type="button"
              onclick="window.location.href = '/login'">
              Login
            </button>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
{% endblock %}

<body class="text-black">
  {% block body %}{% endblock %}
</body>

<footer class="flex justify-center items-center mt-20 mb-4">
  {% block footer %}
  <span>&copy; Copyright 2022 | Mountain View Community Hospital | Kelompok 3</span>
  {% endblock %}
</footer>

</html>
{% block script %}{% endblock %}