<!doctype html>
<html>

<head>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Name }}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/tailwind.css')}}">
    <link rel="icon" href="{{url_for('static',filename='ico/favicon.ico')}}" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='ico/favicon.ico')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"
      integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% block head %}{% endblock %}
  </head>
</head>

{% block header %}{% endblock %}

{% block body %}{% endblock %}

{% block footer %}{% endblock %}

</html>
{% block script %}{% endblock %}