{% extends "page-layout.html" %}
{% block body %}
<section class="flex flex-col items-center justify-start pt-10 bg-green_light border-t-8 border-green_dark min-h-screen">
  <div class="flex flex-row w-6/12 items-start justify-center mt-20">
    <div class="w-full">
      <img alt="" width="500px" height="500px" src="{{url_for('static',filename='img/login-ppl.png')}}"/>
    </div>
    <div class="ml-8 text-sm w-full">
      <p>Welcome</p>
      <p class="text-xl font-bold">Login with Your Account</p>
      
      <p class="mt-2">Email</p>
      <input id="email" type="email" class='w-full py-1 bg-transparent border-b-2 border-white' placeholder="Insert Your Email"/>

      <p class="mt-2">Password</p>
      <input id="password" type="password" class='w-full py-1 bg-transparent border-b-2 border-white' placeholder="Insert Your Password"/>
      
      <div class="flex mt-2 mb-2">
        <input type="checkbox">
        <p class="font-bold text-xs ml-2">Remember me</p>
      </div>

      <p id="error-log" class="text-xs text-red-500 hidden">ERR</p>

      <button onclick="doLoginUser()" class="bg-blue_light hover:bg-blue_dark duration-500 w-full py-2">Login</button>
      <p class="text-xs mt-2">Do not have account? Register <a class="font-bold" href="/register">here</a> or <a class="font-bold" href="/#">forget password</a>.</p>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"
  integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  function doLoginUser() {
    let email = document.getElementById('email').value;
    let password = document.getElementById('password').value;
    let error_logger = document.getElementById('error-log');

    var bodyFormData = new FormData();
    bodyFormData.append('email', email);
    bodyFormData.append('password', password);

    axios({
        method: "post",
        url: window.location.origin + '/api/user-login',
        data: bodyFormData,
        headers: {
          "Content-Type": "multipart/form-data"
        },
      })
      .then(function (response) {
        window.location.reload();
      })
      .catch(function (error) {
        if (error.response) {
          if (error.response.status === 400) {
            error_logger.classList.remove('hidden');
            error_logger.innerHTML = error.response.data['message'];
          }
        }
      });
  }
</script>
{% endblock %}