{% extends "page-layout.html" %}
{% block body %}
<section class="flex flex-col items-center justify-start pt-10 bg-green_light border-t-8 border-green_dark min-h-screen">
  <div class="flex flex-row w-6/12 items-start justify-center mt-20">
    <div class="w-full">
      <img alt="" width="500px" height="500px" src="{{url_for('static',filename='img/register-ppl.png')}}"/>
    </div>
    <div class="ml-8 text-sm w-full">
      <p>Welcome</p>
      <p class="text-xl font-bold">Make Your Account Here</p>
      
      <p class="mt-2">Email</p>
      <input id="email" type="email" class='w-full py-1 bg-transparent border-b-2 border-white' placeholder="Insert Your Email"/>

      <p class="mt-2">Password</p>
      <input id="password" type="password" class='w-full py-1 bg-transparent border-b-2 border-white' placeholder="Insert Your Password"/>

      <p class="mt-2">Retype Password</p>
      <input id="retypepassword" type="password" class='w-full py-1 bg-transparent border-b-2 border-white' placeholder="Insert Your Retype Password"/>

      <p id="error-log" class="text-xs text-red-500 hidden">ERR</p>

      <button onclick="doRegisterUser()" class="bg-blue_light hover:bg-blue_dark duration-500 w-full py-2">Register</button>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script>
  function doRegisterUser() {
    let error_logger = document.getElementById('error-log');
    error_logger.classList.add('hidden')

    let email = document.getElementById('email').value;
    
    let password = document.getElementById('password').value;
    let retypepassword = document.getElementById('retypepassword').value;

    var re = /\S+@\S+\.\S+/;

    if (password !== retypepassword){
      error_logger.innerHTML = 'Password not match'
      error_logger.classList.remove('hidden')
      return 
    }
    else if (re.test(email) === false){
      error_logger.innerHTML = 'Invalid email address'
      error_logger.classList.remove('hidden')
      return 
    }
    else if (password.length < 6){
      error_logger.innerHTML = 'Password at least 6 character'
      error_logger.classList.remove('hidden')
      return 
    }

    var bodyFormData = new FormData();
    bodyFormData.append('email', email);
    bodyFormData.append('password', password);

    axios({
        method: "post",
        url: window.location.origin + '/api/user-register',
        data: bodyFormData,
        headers: {
          "Content-Type": "multipart/form-data"
        },
      })
      .then(function (response) {
        window.location.href = '/login';
      })
      .catch(function (error) {
        if (error.response) {
          if (error.response.status === 400) {
            error_logger.classList.remove('hidden');
            error_logger.innerHTML = error.response.data['message'];
          }
        }
      });
  }
</script>
{% endblock %}