{% extends "dashboard/layout.html" %}

{% block content %}
<div class="p-10 flex flex-col flex-grow">
  <p class="font-bold text-2xl">Consultation Schedule</p>
  <div class="bg-white rounded-xl border border-green_dark py-10 px-20 mt-4 flex-grow">
    <div class="my-4 flex flex-col">
      <table class="text-sm">
        <tr class="border-b border-t border-green_dark">
          <th class="py-2">No</th>
          <th>Patient</th>
          <th>Day</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
        {% for row in REGISTERED_CONSULTATION_SCHEDULE %}
        <tr class="h-10 text-center">
          <td>{{ loop.index }}</td>
          <td>{{ row[5] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}