{% extends "dashboard/layout.html" %}

{% block content %}
<div class="p-10 flex flex-col flex-grow">
  <p class="font-bold text-2xl">History Consultation</p>
  <div class="bg-white rounded-xl border border-green_dark py-10 px-20 mt-4 flex-grow">
    <div class="my-4 flex flex-col max-h-96 overflow-y-auto">
      {% if USER_TYPE == 'patient' %}
      <table>
        <tr class="border-b border-t border-green_dark">
          <th class="py-2">Doctor</th>
          <th>Speciality</th>
          <th>Day</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
        {% for row in COSULTATION_HISTORY %}
        <tr class="text-center">
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
      </table>
      {% elif USER_TYPE == 'physician' %}
      <table>
        <tr class="border-b border-t border-green_dark">
          <th class="py-2">No</th>
          <th>Date</th>
          <th>Day</th>
          <th>Time</th>
          <th>Detail</th>
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">Date A</td>
          <td class="text-center">Day A</td>
          <td class="text-center">Time A</td>
          <td>Detail A</td>
        </tr>
        <tr>
          <td class="text-center">2</td>
          <td class="text-center">Date B</td>
          <td class="text-center">Day B</td>
          <td class="text-center">Time B</td>
          <td>Detail B</td>
        </tr>
      </table>
      
      {% elif USER_TYPE == 'nurse' %}
      <table>
        <tr class="border-b border-t border-green_dark">
          <th class="py-2">No</th>
          <th>Doctor</th>
          <th>Day</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
        {% for key, value in NURSE_SCHEDULE_HISTORY.items() %}
        <tr>
          <td class="border border-green_dark text-center">{{ loop.index }}</td>
          <td class="border border-green_dark pl-4">
            {% for phy_name in value['physician'] %}
            <div class="flex flex-col justify-center mb-2">
              <p class="font-bold">{{ phy_name }}</p>
              <p class="text-xs">{{ value['speciality'] }}</p>
            </div>
            {% endfor %}
          </td>
          <td class="text-center border border-green_dark">{{ value['day'] }}</td>
          <td class="text-center border border-green_dark">{{ value['date'] }}</td>
          <td class="text-center border border-green_dark">{{ value['time'] }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}