{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
<body>
  <div id="patient-info-modal" class="fixed left-0 top-0 w-full h-full bg-green_dark bg-opacity-90 hidden">
    <div class="mt-40 flex justify-center items-center">
      <div class="bg-white rounded-xl py-10 px-20">
        <div class="flex flex-col">
          <p class="font-bold">Patient Information</p>
          <table>
            <tr>
              <td>Name</td>
              <td><span id="name"></span></td>
            </tr>
            <tr>
              <td>Age</td>
              <td><span id="age"></span></td>
            </tr>
            <tr>
              <td>Address</td>
              <td><span id="address"></span></td>
            </tr>
            <tr>
              <td>Phone</td>
              <td><span id="phone"></span></td>
            </tr>
            <tr>
              <td>Gender</td>
              <td><span id="gender"></span></td>
            </tr>
          </table>
        </div>
        <div class="flex justify-center items-center mt-4">
          <button class="text-xs font-bold duration-500 bg-red-100 hover:bg-red-300 px-4 py-2 rounded-xl mx-2"
            onclick="cancel()">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div id="register-consultation-modal" class="fixed left-0 top-0 w-full h-full bg-green_dark bg-opacity-90 hidden">
    <div class="mt-40 flex justify-center items-center">
      <div class="bg-white rounded-xl p-10">
        <div class="flex flex-col justify-center items-center">
          <p>Physician: <span id="selected-doctor"></span> (<span id="selected-speciality"></span>)</p>
          <p>Time: <span id="selected-date"></span></p>
        </div>
        <p class="text-xs mt-4">Are you sure want to make this appointment?</p>
        <div class="flex justify-center items-center mt-4">
          <button class="text-xs font-bold duration-500 bg-green_light hover:bg-green_dark px-4 py-2 rounded-xl mx-2"
            onclick="submit()">Yes</button>
          <button class="text-xs font-bold duration-500 bg-red-100 hover:bg-red-300 px-4 py-2 rounded-xl mx-2"
            onclick="cancel()">No</button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex min-h-screen bg-green_dark">
    <div id="sidebar" class="w-3/12 flex flex-col items-center justify-between">
      <div class="my-20 flex flex-col justify-center items-center w-1/2">
        <img src="{{url_for('static',filename='img/logo.svg')}}" width="120"/>
        
        <button class="bg-green_light px-8 py-4 rounded-xl my-20" onclick="window.location.href='/dashboard'">
          Home
        </button>
        {% if USER_TYPE == 'patient'%}
        <a class="border-b border-gray-500 w-full text-center my-2 py-1 hover:bg-green_light duration-500 rounded-t-xl" 
          href="/dashboard/patient-registration">
          Register Consultation
        </a>
        <a class="border-b border-gray-500 w-full text-center my-2 py-1 hover:bg-green_light duration-500 rounded-t-xl" 
          href="/dashboard/doctor-schedule">Doctor Schedule</a>
        {% elif USER_TYPE == 'physician'%}
        <a class="border-b border-gray-500 w-full text-center my-2 py-1 hover:bg-green_light duration-500 rounded-t-xl" 
          href="/dashboard/consultation-schedule">Consultation Schedule</a>
        <a class="border-b border-gray-500 w-full text-center my-2 py-1 hover:bg-green_light duration-500 rounded-t-xl" 
          href="/dashboard/doctor-schedule">Doctor Schedule</a>
        <a class="border-b border-gray-500 w-full text-center my-2 py-1 hover:bg-green_light duration-500 rounded-t-xl" 
          href="/dashboard/patient-list">Patient</a>
        {% elif USER_TYPE == 'nurse'%}
        <a class="border-b border-gray-500 w-full text-center my-2 py-1 hover:bg-green_light duration-500 rounded-t-xl" 
          href="/dashboard/nurse-schedule">Schedule</a>
        {% endif %}

        <a class="border-b border-gray-500 w-full text-center my-2 py-1 hover:bg-green_light duration-500 rounded-t-xl" 
          href="/logout">Logout</a>
      </div>
      <div class="mb-10 flex flex-col w-1/2">
        <a class="border-b border-gray-500 w-full text-center my-2 py-1 hover:bg-green_light duration-500 rounded-t-xl" 
          href="/dashboard/history-consultation">My History</a>
      </div>
    </div>
    <div id="rightbar" class="w-9/12 flex flex-col">
      <div id="profile" class="bg-green_light mb-10 h-32 rounded-b-xl flex justify-between items-center px-10">
        <div class="flex items-center">
          <img src="{{url_for('static',filename='img/phone-tty.svg')}}" width="60"/>
          <div class="ml-4">
            <p>Hotline</p>
            <p>0731-123321</p>
          </div>
        </div>
        <div class="flex">
          <div class="flex flex-col justify-end">
            <p class="text-sm">{{ USER_FULLNAME }}</p>
            <p class="text-xs">{{ USER_TYPE }}</p>
          </div>
          <div class="ml-2">
            <img src="https://cvhrma.org/wp-content/uploads/2015/07/default-profile-photo.jpg" class="w-10 rounded-md"/>
          </div>
        </div>
      </div>
      <div id="content" class="bg-green_light rounded-t-xl flex flex-grow flex-col">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</body>
{% endblock %}

{% block footer %}{% endblock %}
{% block script %}{% endblock %}