{% extends "dashboard/layout.html" %}

{% block content %}
<div class="p-10 flex flex-col flex-grow">
  <p>Hello</p>
  <p class="text-2xl mb-2">Welcome, <b>{{ USER_FULLNAME }}</b></p>
  <div class="flex flex-grow">
    <div class="mr-2 flex flex-col flex-grow">
      <div class="flex justify-center bg-white rounded-xl border border-green_dark p-2 mb-2">
        <button class="px-8 py-6 bg-green_light border border-green_dark rounded-xl w-40 h-24 mx-1 hover:bg-green_dark duration-500"
          onclick="window.location.href='/dashboard/nurse-schedule'">
          <div class="flex justify-center items-center">
            <i class="fa-regular fa-calendar fa-2xl mr-2"></i>
            <p class="text-left">Schedule</p>
          </div>
        </button>
        <button class="px-8 py-6 bg-green_light border border-green_dark rounded-xl w-40 h-24 mx-1 hover:bg-green_dark duration-500"
        onclick="window.location.href='/dashboard/history-consultation'">
          <div class="flex justify-center items-center">
            <i class="fa-solid fa-clock-rotate-left fa-2xl mr-2"></i>
            <p class="text-left">History</p>
          </div>
        </button>
      </div>
      <div class="flex flex-col bg-white rounded-xl border border-green_dark p-2 flex-grow">
        <p class="font-bold">Nurse Schedule</p>
        <div class="my-4 flex flex-col max-h-96 overflow-y-auto">
          {% for key, value in NURSE_SCHEDULE.items() %}
          <div class="flex my-2 py-1 border-t border-b border-green_dark">
            <div class="flex flex-col pl-4 w-2/12 text-sm">
              <p class="font-bold">{{ value['day'] }}</p>
              <p>{{ value['date'] }}</p>
              <p>{{ value['time'] }}</p>
            </div>
            <div class="flex flex-col w-10/12 pl-2 border-l border-green_dark">
              {% for phy_name in value['physician'] %}
              <div class="flex flex-col justify-center mb-2">
                <p class="font-bold">{{ phy_name }}</p>
                <p class="text-xs">{{ value['speciality'] }}</p>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}