{% extends "dashboard/layout.html" %}

{% block content %}
<div class="p-10 flex flex-col flex-grow">
  <p class="font-bold text-2xl">Doctor Schedule</p>
  <div class="bg-white rounded-xl border border-green_dark py-10 px-20 mt-4 flex-grow">
    <div class="my-4 flex flex-col">
      {% if USER_TYPE == 'patient' %}
      <div class="flex items-center my-2 w-5/12">
        <p class="w-4/12">Search Physician</p>
        {% if SEARCH_KEYWORD %}
        <input id="search_doctor" value="{{SEARCH_KEYWORD}}" type="text" placeholder="Input Doctor Name" class="w-8/12 bg-green_light rounded-xl px-2 py-1 border border-green_dark"/>
        {% else %}
        <input id="search_doctor" type="text" placeholder="Input Doctor Name" class="w-8/12 bg-green_light rounded-xl px-2 py-1 border border-green_dark"/>
        {% endif %}

        <button id="search_doctor_btn" onclick="doSearchDoctor();"></button>
      </div>
      {% endif %}
      <div class="flex justify-between">
        <p class="mb-2">
          {% if USER_TYPE == 'patient' %}
            {% if PHYSICIAN_NAME %}
            Physician: <b>{{ PHYSICIAN_NAME }} ({{ PHYSICIAN_SPECIALIZATION }})</b>
            {% else %}
            Physician: <b> ... </b>
            {% endif %}
          {% endif %}
        </p>
        <p class="text-sm">Schedule {{ FROM_TO_SCHEDULE_RANGE }}</p>
      </div>
      <div class="flex flex-col max-h-96 overflow-y-auto">
        <table class="text-sm">
          <thead>
            <tr>
              {% for val in TIMESLOT_HEADER %}
              <th class="py-2 border border-green_dark">{{ val }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody class="">
            {% for row in TIMESLOT_ITEM %}
            <tr class="text-center h-10">
              {% for v in row %}
                {% if v == True %}
                <td class="bg-green_light hover:bg-green_dark duration-500 cursor-pointer border border-green_dark">
                  <p class="text-sm font-bold">{{ PHYSICIAN_NAME }}</p>
                  <p class="text-xs">{{ PHYSICIAN_SPECIALIZATION }}</p>
                </td>
                {% elif v == False %}
                <td class="border border-green_dark">-</td>
                {% else %}
                <td class="border border-green_dark">{{ v }}</td>
                {% endif %} 
              {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  // Execute a function when the user presses a key on the keyboard
  var input = document.getElementById("search_doctor");
  input.addEventListener("keypress", function(event) {
    // If the user presses the "Enter" key on the keyboard
    if (event.key === "Enter") {
      // Cancel the default action, if needed
      event.preventDefault();
      // Trigger the button element with a click
      document.getElementById("search_doctor_btn").click();
    }
  });
  
  function doSearchDoctor(){
    window.location.href = window.location.origin + window.location.pathname + '?doctor=' + input.value
  }
</script>
{% endblock %}