{% extends "dashboard/layout.html" %}

{% block content %}
<div class="p-10 flex flex-col flex-grow">
  <p class="font-bold text-2xl">Doctor Schedule</p>
  <div class="bg-white rounded-xl border border-green_dark py-10 px-20 mt-4 flex-grow">
    <div class="my-4 flex flex-col">
      <div class="flex items-center my-2 w-5/12">
        <p class="w-4/12">Search Doctor</p>
        <input id="doctor_name" type="text" placeholder="Input Doctor Name" class="w-8/12 bg-green_light rounded-xl px-2 py-1 border border-green_dark"/>
      </div>
      <div class="flex justify-between">
        <p class="mb-2">Doctor: <b>DOCTOR NAME</b></p>
        <p>This week schedule</p>
      </div>
      <table class="text-sm">
        <tr class="border-b border-t border-green_dark">
          <th class="py-2">Time</th>
          <th>(11/19) Monday</th>
          <th>(11/20) Tuesday</th>
          <th>(11/21) Wednesday</th>
          <th>(11/22) Thursday</th>
          <th>(11/23) Friday</th>
          <th>(11/24) Saturday</th>
          <th>(11/25) Sunday</th>
        </tr>
        <tr class="text-center h-10">
          <td>07.00</td>
          <td class="bg-green_light hover:bg-green_dark duration-500 cursor-pointer">Available</td>
          <td class="bg-green_light hover:bg-green_dark duration-500 cursor-pointer">Available</td>
          <td class="bg-green_light hover:bg-green_dark duration-500 cursor-pointer">Available</td>
          <td class="bg-green_light hover:bg-green_dark duration-500 cursor-pointer">Available</td>
          <td class="bg-green_light hover:bg-green_dark duration-500 cursor-pointer">Available</td>
          <td class="bg-green_light hover:bg-green_dark duration-500 cursor-pointer">Available</td>
          <td class="bg-green_light hover:bg-green_dark duration-500 cursor-pointer">Available</td>
        </tr>
        <tr class="text-center h-10">
          <td>08.00</td>
          <td class="bg-gray-100">Not Available</td>
          <td class="bg-gray-100">Not Available</td>
          <td class="bg-gray-100">Not Available</td>
          <td class="bg-gray-100">Not Available</td>
          <td class="bg-gray-100">Not Available</td>
          <td class="bg-gray-100">Not Available</td>
          <td class="bg-gray-100">Not Available</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}