{% extends "dashboard/layout.html" %}

{% block content %}
<div class="p-10 flex flex-col flex-grow">
  <p>Hello</p>
  <p class="text-2xl mb-2">Welcome, <b>{{ USER_FULLNAME }}</b></p>
  <div class="flex flex-grow">
    <div class="w-8/12 mr-2 flex flex-col flex-grow">
      <div class="flex justify-center bg-white rounded-xl border border-green_dark p-2 mb-2">
        <button class="px-8 py-6 bg-green_light border border-green_dark rounded-xl w-40 h-24 mx-1 hover:bg-green_dark duration-500"
          onclick="window.location.href='/dashboard/patient-registration'">
          <div class="flex justify-center items-center">
            <i class="fa-regular fa-file-lines fa-2xl mr-2"></i>
            <p class="text-left">Register</p>
          </div>
        </button>
        <button class="px-8 py-6 bg-green_light border border-green_dark rounded-xl w-40 h-24 mx-1 hover:bg-green_dark duration-500"
          onclick="window.location.href='/dashboard/doctor-schedule'">
          <div class="flex justify-center items-center">
            <i class="fa-regular fa-calendar fa-2xl mr-2"></i>
            <p class="text-left">Doctor Schedule</p>
          </div>
        </button>
      </div>
      <div class="flex flex-col bg-white rounded-xl border border-green_dark p-2 flex-grow">
        <p class="font-bold">Teleconsultation Schedule</p>
        <div class="my-4 flex flex-col max-h-96 overflow-y-auto">
          <table>
            <tr class="border-b border-t border-green_dark">
              <th class="py-2">No</th>
              <th>Doctor</th>
              <th>Day</th>
              <th>Date</th>
              <th>Time</th>
            </tr>
            {% for row in CONSULTATION_SCHEDULE %}
            <tr class="text-center">
              <td>{{ loop.index }}</td>
              <td>
                <p>{{ row[0] }}</p>
                <p class="text-xs font-bold">{{ row[1] }}</p>
              </td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="w-4/12 bg-white rounded-xl border border-green_dark p-2 flex flex-col flex-grow">
      <div class="flex flex-col">
        <p class="font-bold mb-2">Registered Schedule</p>
        <table>
          <tr class="border-b border-t border-green_dark">
            <th class="py-2">Day</th>
            <th>Time</th>
            <th>Doctor</th>
          </tr>
          <tr class="text-center">
            {% for row in REGISTERED_CONSULTATION_SCHEDULE %}
            <tr class="text-center text-sm">
              <td>
                <p>{{ row[3] }}</p>
                <p class="text-xs">{{ row[2] }}</p>
              </td>
              <td>{{ row[4] }}</td>
              <td>
                <p>{{ row[0] }}</p>
                <p class="text-xs font-bold">{{ row[1] }}</p>
              </td>
            </tr>
            {% endfor %}
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}