{% extends "dashboard/layout.html" %}

{% block content %}
<div class="p-10 flex flex-col flex-grow">
  <p class="font-bold text-2xl">Register Consultation</p>
  <div class="bg-white rounded-xl border border-green_dark py-10 px-20 mt-4">
    <p class="uppercase font-bold">Patient Data</p>
    <div class="flex flex-col">
      <div class="flex items-center my-2">
        <p class="w-4/12">Patient Name</p>
        <input id="pfn" type="text" placeholder="Insert Patient Full Name" class="w-8/12 bg-green_light rounded-xl px-2 py-1 border border-green_dark"/>
      </div>
      <div class="flex items-center my-2">
        <p class="w-4/12">Gender</p>
        <select id="pg" class="w-8/12 bg-green_light rounded-xl px-2 py-1 border border-green_dark">
          <option value="" disabled selected>Select Patient Gender</option>
          <option value="m">Male</option>
          <option value="f">Female</option>
        </select>
      </div>
      <div class="flex items-center my-2">
        <p class="w-4/12">Date of Birth</p>
        <input id="pdob" type="date" placeholder="Insert Patient Age" class="w-8/12 bg-green_light rounded-xl px-2 py-1 border border-green_dark"/>
      </div>
      <div class="flex items-center my-2">
        <p class="w-4/12">Address</p>
        <input id="padd" type="text" placeholder="Insert Patient Address" class="w-8/12 bg-green_light rounded-xl px-2 py-1 border border-green_dark"/>
      </div>
      <div class="flex items-center my-2">
        <p class="w-4/12">Phone Number</p>
        <input id="ppn" type="text" placeholder="Insert Patient Phone Number" class="w-8/12 bg-green_light rounded-xl px-2 py-1 border border-green_dark"/>
      </div>
      
      <p id="error-log" class="text-xs text-red-500 hidden">ERR</p>
      
      <div class="flex items-center my-2">
        <button class="bg-green_light hover:bg-green_dark duration-500 px-4 py-2 rounded-xl border border-green_dark"
          onclick="doRegisterPatient();">
          Submit
        </button>
      </div>
    </div>

  </div>
  
</div>
{% endblock %}

{% block script %}
<script>
  function doRegisterPatient() {
    let error_logger = document.getElementById('error-log');
    error_logger.classList.add('hidden')

    let pfn = document.getElementById('pfn').value;
    let pg = document.getElementById('pg').value;
    let pdob = document.getElementById('pdob').value;
    let padd = document.getElementById('padd').value;
    let ppn = document.getElementById('ppn').value;

    var bodyFormData = new FormData();
    bodyFormData.append('pfn', pfn);
    bodyFormData.append('pg', pg);
    bodyFormData.append('pdob', pdob);
    bodyFormData.append('padd', padd);
    bodyFormData.append('ppn', ppn);

    axios({
        method: "post",
        url: window.location.origin + '/api/patient-register',
        data: bodyFormData,
        headers: {
          "Content-Type": "multipart/form-data",
        },
      })
      .then(function (response) {
        console.log(response)
      })
      .catch(function (error) {
        if (error.response) {
          if (error.response.status === 400) {
            error_logger.classList.remove('hidden');
            error_logger.innerHTML = error.response.data['message'];
          }
        }
      });
  }
</script>
{% endblock %}