{% extends "dashboard/layout.html" %}

{% block content %}
<div id="modal" class="fixed left-0 top-0 w-full h-full bg-green_dark bg-opacity-90 hidden">
  <div class="mt-40 flex justify-center items-center">
    <div class="bg-white rounded-xl p-10">
      <div class="flex flex-col justify-center items-center">
        <p>Physician: <span id="selected-doctor"></span> (<span id="selected-speciality"></span>)</p>
        <p>Time: <span id="selected-date"></span></p>
      </div>
      <p class="text-xs mt-4">Are you sure want to make this appointment?</p>
      <div class="flex justify-center items-center mt-4">
        <button class="text-xs font-bold duration-500 bg-green_light hover:bg-green_dark px-4 py-2 rounded-xl mx-2"
          onclick="submit()">Yes</button>
        <button class="text-xs font-bold duration-500 bg-red-100 hover:bg-red-300 px-4 py-2 rounded-xl mx-2"
          onclick="cancel()">No</button>
      </div>
    </div>
  </div>
</div>
<div class="p-10 flex flex-col flex-grow">
  <p class="font-bold text-2xl">Register Consultation</p>
  <div class="bg-white rounded-xl border border-green_dark py-10 px-20 mt-4 flex-grow">
    <div class="flex justify-between">
      <div class="flex items-center my-2 w-5/12">
        <p class="w-4/12">Search by Doctor</p>
        {% if KEYWORD_DOCTOR %}
        <input id="bydoctor" type="text" value="{{ KEYWORD_DOCTOR }}" placeholder="Search by doctor" class="w-8/12 bg-green_light rounded-xl px-2 py-1 border border-green_dark"/>
        {% else %}
        <input id="bydoctor" type="text" placeholder="Search by doctor" class="w-8/12 bg-green_light rounded-xl px-2 py-1 border border-green_dark"/>
        {% endif %}
      </div>
      <div class="flex items-center my-2 w-5/12">
        <p class="w-4/12">Search by Date</p>
        {% if KEYWORD_DATE %}
        <input id="bydate" type="date" value="{{ KEYWORD_DATE }}" placeholder="Search by date" class="w-8/12 bg-green_light rounded-xl px-2 py-1 border border-green_dark"/>
        {% else %}
        <input id="bydate" type="date" placeholder="Search by date" class="w-8/12 bg-green_light rounded-xl px-2 py-1 border border-green_dark"/>
        {% endif %}
      </div>
      <div class="flex justify-center items-center">
        <button id="submit_search" class="bg-green_light hover:bg-green_dark duration-500 rounded-xl px-4 py-2 border border-green_dark" onclick="doSearch()">Submit</button>
      </div>
    </div>

    <div class="my-4 flex flex-col">
      <table>
        <tr class="border-b border-t border-green_dark">
          <th class="py-2">Doctor</th>
          <th>Speciality</th>
          <th>Day</th>
          <th>Date</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
        {% for timeslot in TIMESLOT_ITEM %}
        <tr>
          <td>{{ timeslot[0] }}</td>
          <td>{{ timeslot[1] }}</td>
          <td class="text-center">{{ timeslot[2] }}</td>
          <td class="text-center">{{ timeslot[3] }}</td>
          <td class="text-center">{{ timeslot[4] }}</td>
          <td class="text-center">
            <button id="{{ timeslot }}" class="bg-green_light rounded-xl px-4 py-2 hover:bg-green_dark duration-500 my-1"
              onclick="doSelect(this.id);">
              Select
            </button>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  // Execute a function when the user presses a key on the keyboard
  var input_doctor = document.getElementById("bydoctor");
  var input_date = document.getElementById("bydate");

  function triggerButton(event) {
    // If the user presses the "Enter" key on the keyboard
    if (event.key === "Enter") {
      // Cancel the default action, if needed
      event.preventDefault();
      // Trigger the button element with a click
      document.getElementById("submit_search").click();
    }
  };

  input_doctor.addEventListener("keypress", triggerButton)
  input_date.addEventListener("keypress", triggerButton)
  
  function doSearch(){
    if (input_doctor.value && input_date.value){
      window.location.href = window.location.origin + window.location.pathname + '?doctor=' + input_doctor.value + '&date=' + input_date.value
    }
    else if (input_doctor.value){
      window.location.href = window.location.origin + window.location.pathname + '?doctor=' + input_doctor.value
    }
    else if (input_date.value){
      window.location.href = window.location.origin + window.location.pathname + '?date=' + input_date.value
    }
    else {
      window.location.href = window.location.origin + window.location.pathname
    }
  }

  var selected_id = null
  const selected_doctor = document.getElementById('selected-doctor')
  const selected_speciality = document.getElementById('selected-speciality')
  const selected_date = document.getElementById('selected-date')
  const modal = document.getElementById('modal')

  function doSelect(button_id){
    modal.classList.remove('hidden')
    let selected_row = button_id.slice(1, button_id.length-1).replaceAll("'", '').split(', ')
    selected_doctor.innerHTML = selected_row[0]
    selected_speciality.innerHTML = selected_row[1]
    selected_date.innerHTML = selected_row[2] + ', ' + selected_row[4] + ' on ' + selected_row[3]
    selected_id = selected_row[5]
  }

  function cancel(){
    modal.classList.add('hidden')
  }

  function submit(){
    var bodyFormData = new FormData();
    bodyFormData.append('sch_phy', selected_id);

    axios({
        method: "post",
        url: window.location.origin + '/api/create-appointment',
        data: bodyFormData,
        headers: {
          "Content-Type": "multipart/form-data"
        },
      })
      .then(function (response) {
        window.location.href = "/dashboard";
      })
      .catch(function (error) {
        if (error.response) {
          if (error.response.status === 400) {
            error_logger.classList.remove('hidden');
            error_logger.innerHTML = error.response.data['message'];
          }
        }
      });
  }
</script>
{% endblock %}